@model StudyPlanner.Models.StudySession

@{
    ViewData["Title"] = "Edit Study Session";
}

<h1>Edit Study Session</h1>

<h4>Study Session</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />


            
            <div class="form-group">
                <label>Task</label>
                <input type="text" class="form-control" value="@ViewBag.StudyTaskTitle" disabled />
                <input type="hidden" asp-for="StudyTaskId" value="@ViewBag.StudyTaskId" />
            </div>

            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
                <a asp-controller="StudyTask" asp-action="Details" asp-route-id="@ViewBag.StudyTaskId" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
